.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.month-grid {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  width: 854px;
}
.week-grid {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  width: 854px;

}

.week-day{

  float: left;
  text-align: center;
    height: 30px;
    width: 120px;
    border: 1px black solid;
    background-color: aquamarine;
}
.day-box{
float: left;

text-align: center;
  height: 160px;
  width: 120px;
  border: 1px black solid;

}

.change-time{

  width: 20px;
  height: 12px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
